[Desktop Entry]
Name=Diario
Exec=python3 /home/wilson/utilitarios/diario_sublime/diario_sublime.py
Comment=Abre um pagina de diário no Sublime
Terminal=false
Icon=/home/wilson/utilitarios/diario_sublime/diario2.png
Type=Application
